body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.token {
	position: absolute;
	top: 0;
	left:0;
	width: 250px;
	height: 250px;
}

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container video {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#chat {
	width: 400px;
	height: 250px;
	z-index: 201;
	position: absolute;
	bottom: 50px;
	right: 50px;
	overflow-y: scroll;
	overflow-x: hidden;
    padding: 20px;
    background-color: #00000020;
}

.comment_box {
	font-size: 14px;
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	box-sizing: border-box; 
	padding: 1px 5px;
}


#videoDefault {
	z-index: 0;
}

#goalReached {
	visibility: hidden;
	z-index: 1;
}

.timeKeepers {
	color: white;
	position: absolute;
	z-index: 200;
	font-weight: bold;
	font-size: 25px;
}

.timeKeepers p {
	margin: 0;
	padding: 0;
}


#goalCounter {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	bottom: 50px;
	left: 50px;
}

#goalTimer {
	bottom: 50px;
	left: 50px;
	visibility: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: 201;
}

#overlayGif{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#whiteOverlay{
	z-index: 200;
	background-color: rgba(255,255,255,0);
}

.toWhite{
	-webkit-transition: 5s ease-in;
  -moz-transition: 5s ease-in;
  -ms-transition: 5s ease-in;
  -o-transition: 5s ease-in;
  transition: 5s ease-in;
	background-color: rgba(255,255,255,1) !important;
}